/***************************************************
文件名：		${class.Name.ToLower()}.cs
Copyright  (c)  2006-2008 偷懒码农

编写人：		Code Generation
改写者：		无

改写日期：		$now
***************************************************/

#region using
using System;
#endregion
		
namespace ${namespace}.Model
{
	/// <summary>
	/// 描述 $class.PascalCaseName
	/// </summary>
	public partial class $class.PascalCaseName
	{
		#region 私有成员变量
#foreach($item in $class.Columns)
#if($item.Comment != "")
		/// <summary>
		/// $item.Comment
		/// </summary>
#end
		private $item.LanguageType m_$item.CamelCaseName;
#end
		#endregion
		
		#region 构造函数

		/// <summary>
		/// 默认构造函数
		/// </summary>
		public $!{class.PascalCaseName}()
		{
#foreach($item in $class.Columns)
			this.m_$item.CamelCaseName = $item.EmptyValue;
#end
		}
		#endregion

		#region 公有属性

#foreach($item in $class.Columns)
#if($item.Comment != "")
		/// <summary>
		///	获取或设置 $item.Comment
		/// </summary>
#end
		public $item.LanguageType $item.PascalCaseName
		{
			get { return m_$item.CamelCaseName; }
			set { m_$item.CamelCaseName = value; }
		}
#end
		#endregion
	}
}