/*******************************************************************************
 * Copyright (C) Newegg Corporation. All rights reserved.
 * 
 * Author:			Leo He
 * Create Date:		$now
 * Description:
 *          
 * Revision History:
 *      Date         Author               Description
 *              
*******************************************************************************/

using System;
using System.Data;
using System.Runtime.Serialization;

using Newegg.Framework.Data;

namespace CN.Newegg.DataContracts.$database
{
	/// <summary>
	/// 描述 $class.PascalCaseName
	/// </summary>
	[Serializable]
    [DataContract]
    public class $class.PascalCaseName
	{
		#region [ Fields ]
#foreach($item in $class.Columns)
#if($item.Comment != "")
		/// <summary>
		/// $item.Comment
		/// </summary>
#end
		private $item.LanguageType $item.CamelCaseName;
#end
		#endregion
		
		#region [ Properties ]

#foreach($item in $class.Columns)
#if($item.Comment != "")
		/// <summary>
		///	获取或设置 $item.Comment
		/// </summary>
#end
		[DataMember]
        [DataMapping("$item.PascalCaseName", $item.ProgrameDbType)]
		public $item.LanguageType $item.PascalCaseName
		{
			get { return this.$item.CamelCaseName; }
			set { this.$item.CamelCaseName = value; }
		}
#end
		#endregion
	}
}