
#foreach($item in $class.Columns)
<param name="@$item.PascalCaseName" dbType="$item.ShortProgrameDbType" size="$item.Precision"/>
#end

-------------------------------------------------------------------
#foreach($item in $class.Columns)
dataCommand.SetParameterValue("@${item.PascalCaseName}", ${class.CamelCaseName}.${item.PascalCaseName});
#end

#foreach($item in $class.Columns)
DECLARE @${item.PascalCaseName} ${item.DbType}(${item.Precision});
#end


SELECT 
#foreach($item in $class.Columns)
@${item.PascalCaseName} = @Msg.value(N'(//Message/Body/${class.PascalCaseName}/${item.PascalCaseName}/text())[1]', N'${item.DbType}(${item.Precision})'),
#end