/***************************************************
文件名：		${class.Name.ToLower()}.cs
Copyright  (c)  2006-2008 上海中最信息研发部
编写人：		Code Generation
改写者：		无
改写日期：		$now
***************************************************/

#region using
using System;
using System.Collections.Generic;
#endregion
		
namespace ${namespace}.IDAL
{
	/// <summary>
	/// 定义 I$class.PascalCaseName 接口
	/// </summary>
	public interface I$class.PascalCaseName
	{
#foreach($column in $class.Columns)
#if ($column.IsPrimaryKey)
		/// <summary>
		/// 是否存在该记录		/// </summary>
		bool Exists($column.LanguageType $column.CamelCaseName);
#end
#end

#if ($class.Type == "table")
		/// <summary>
		/// 增加一条数据
		/// </summary>
		bool Add(${namespace}.Model.${class.PascalCaseName} $class.CamelCaseName);

#if($class.PK)
		/// <summary>
		/// 更新一条数据		/// </summary>
		bool Update(${namespace}.Model.${class.PascalCaseName} $class.CamelCaseName);
#end
##end pk

#foreach($column in $class.Columns)
#if ($column.IsPrimaryKey)
		/// <summary>
		/// 删除一条数
		/// </summary>
		bool Delete($column.LanguageType $column.CamelCaseName);
#end
#end
## end foreach
#end
## end table

		/// <summary>
		/// 获取 ${class.PascalCaseName} 集合
		/// </summary>
		List<${namespace}.Model.${class.PascalCaseName}> GetItems();

		/// <summary>
		/// 根据条件获取 ${class.PascalCaseName} 集合
		/// </summary>
		List<${namespace}.Model.${class.PascalCaseName}> GetItemByCondition(${namespace}.Model.${class.PascalCaseName} $class.CamelCaseName);

#foreach($column in $class.Columns)
#if ($column.IsPrimaryKey)
		/// <summary>
		/// 根据编号获取 ${class.PascalCaseName} 集合
		/// </summary>
		${namespace}.Model.${class.PascalCaseName} GetItemById($column.LanguageType $column.CamelCaseName);
#end
#end
	}
}